PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
AUTH_CONFIRM_EMAIL_EXPIRES=24h
AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=refresh_secret
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d
